<%- include('header.ejs') %>
    <!-- Main -->
        <div class="main" style="text-align: center;">
         <img class="Logo" style="height: 220px; width: 220px;" src="<%= uscInfo.uscImage %>" alt="USC Image">
            <div style="max-width: 50%; margin: auto;">
        <h3>Hi! We are the</h3>
      <h1><%= uscInfo.title %></h1>
      <p><%=uscInfo.midTitle %></p>
      <p><%= uscInfo.content%></p>
           </div>
      <img class="groupPhoto" style="height: 959px; width: 713px;" src="<%= uscInfo.mainImage %>" alt="">
      <img class="chart" style="height: 49.7%; width: 95%; margin-top: 50px; margin-bottom: 50px; white-space: nowrap;" src="<%=uscInfo.organImage%>" alt="">
      <h4>usc@sunykorea.ac.kr</h4>
      <% if(privileged > 1 ) { %>
        <form id="twit-form" action="/post/json" method="post" enctype="multipart/form-data">
          Only JSON File Accepted
        <input type='file' name = 'file' accept="json/*">
        <button type='submit' class="bottom-right-button form-align form-post-button write-button"> + UPDATE</button>
        </form>
        <% }%>
          </div>
          
          <%- include('footer.ejs') %>