<%- include('header.ejs') %>
<!— Main —>
        <section class="main">
            <div class = "Clubs">
                <div class="content-container">
                 <p class="tabs">Clubs</p>
                <% for(var i in club) { %>
                    <% var count = 0; %>
                <% if(i % 4 === 0 && i > 0) { %> 
                    </div>
                <% } %>
                <% if(i % 4 === 0 || i === 0) { %> 
                    <div class="content-container" style="margin-left: 0;">
                    <% }%>
                    <div class="board clubBoard">
                        <a href="/club/<%= club[i].name %>/1"><img class="boardContent clubImage" src="<%=club[i].pic_url%>"></a>
                       <a href="/club/<%= club[i].name %>/1"><h3 class="boardContent" style="margin-left: 30px;"><%= club[i].main%></h3></a>
                       <h4 class="boardContent" style="margin-left: 30px;"><%= club[i].description%></h4>
                       <% for(var j = 0; j < club_post.length && count < 5; j++) { %>
                           <% if(club_post[j].subcategory == club[i].name){ %>
                        <a href="/read/club/<%=club[i].name%>/<%=club_post[j].id%>"><p class="boardContent clubPostBorder"><%= club_post[j].post_title%></p></a>
                        <% count++ %>
                        <% } %>
                       <% } %>    
                       </div>
                <% } %>
                </div>
                <% if(privileged > 1 ) { %>
                  <form id="twit-form" action="/post/json" method="post" enctype="multipart/form-data">
                    Only JSON File Accepted
                  <input type='file' name = 'file' accept="json/*">
                  <button type='submit' class="bottom-right-button form-align form-post-button write-button"> + UPDATE</button>
                  </form>
                  <% }%>
            </div>


            <%- include('footer.ejs') %>