<%- include('header.ejs') %>
<link rel="stylesheet" href="/public/css/announcement.css" type="text/css" media="all" />
    <div class="club-detail-main">
        <div class="container club-detail-contents">
            <div class="club-banner" style="background-image:url(<%=club.pic_url%>);">

            </div>
            <div class="club-explanation">
                <div class="club-title"><%= club.name%></div>
                <div class="club-description"><%= club.descriptionDetail %></div>
            </div>
            <hr class="club-detail-hr">
            <div class="club-detail-context-group">
                <% var count = 0; %>
              <% for(var i = 0; i < club_post.length && count < 10; i++) {%>
                <div class="club-detail-context">
                    <a href='/read/club/<%=club.name %>/<%=club_post[i].id %>'><p class="club-detail-post-name"><%= club_post[i].post_title%></p></a>
                    <img src="/public/img/comment.png" class="club-detail-comment">
                    <p class="club-detail-comment-count"><%= club_post[i].number_of_comment %></p>
                </div>
                <% count++ %>
                <%}%>
            </div>
            <div class="bottom-button" style="margin-right:10%; margin-left:10%">
            <% var page_number = Math.ceil(total /10) %>
            <% var i =1 %>
            <div class="page_numbers">
                
                <% while (i < page_number+1){ %>
                    <% var link = "/club/" %>
                    <% link += club.name %>
                    <% link += "/" %>
                    <% link += i %>
                    <% link += "/" %>
                    <% link += total %>
                <a href= "<%= link %>" class="page-item"><%= i %></a>
                    <% i ++%>
                <% } %>
            </div>
            <% if( privilege > 0) { %> 
            <a href= "/<%= club.name%>/post"><button class="bottom-right-button form-align form-post-button write-button" style=" height: 75%; margin-top: 0;"> + New</button></a>
            <% } %>
        </div>
        </div>
    </div>
    <%- include('footer.ejs') %>