<%- include('header.ejs') %>
<div class="main">
<ul class="history-container">
  <% for (var i in usc) { %>
    <li class="year-box">
        <dl>
            <dt class="year"><%= usc[i].detail[0].year %><br><%= usc[i].cardinalNum %></dt>
            <dd class="history-text-container">
                <dl class="history-month-list">
        <% for (var j in usc[i].detail[0].monthDetail) { %>
            <dt class="month"><%= usc[i].detail[0].monthDetail[j].month %></dt>
            <% for (var k in usc[i].detail[0].monthDetail[j].task) { %>
            <dd class="history-text">
            <p><%= usc[i].detail[0].monthDetail[j].task[k] %></p>
            </dd>
            <% } %>
            <% } %>
          </li>
    <li class="year-box">
      <dl>
          <dt class="year"><%= usc[i].detail[1].year %></dt>
          <dd class="history-text-container">
              <dl class="history-month-list">
      <% for (var j in usc[i].detail[1].monthDetail) { %>
          <dt class="month"><%= usc[i].detail[1].monthDetail[j].month %></dt>
          <% for (var k in usc[i].detail[1].monthDetail[j].task) { %>
          <dd class="history-text">
          <p><%= usc[i].detail[1].monthDetail[j].task[k] %></p>
          </dd>
          <% } %>
          <% } %>
        </li>
  <% } %>    
</ul>
<% if(privileged > 1 ) { %>
  <form id="twit-form" action="/post/json" method="post" enctype="multipart/form-data">
    Only JSON File Accepted
  <input type='file' name = 'file' accept="json/*">
  <button type='submit' class="bottom-right-button form-align form-post-button write-button"> + UPDATE</button>
  </form>
  <% }%>
</div>


<%- include('footer.ejs') %>
