<%- include('header.ejs') %>

<!-- Main -->
<section class="main">
    <div class="content-container" style="width: 67.3rem;">
        <div id="player"></div>
        <div class="uscAnnouncements" style="height: fit-content;">
            <h3><%= usc[0].post_title%></h3>
        </div>
    </div>
    <div class = "usc">
        <div class="uscHiddenSlide">
        <div class="content-container" style="width: 67.3rem;">
         <a href="/announcement/1"><p class="tabs">USC</p></a>
         <div style="display: flex;">
        <img src="/public/img/uscLogo2.jpg" style="height: 230px;">
        <div class="uscAnnouncements">
        <% var length = usc.length %>
        <% if(length > 4){length = 4} %>
          <% for (var i = 0; i <= length; i++) { %>
              <div class="board uscBoard" onclick="location.href='/read/<%= usc[i].category %>/<%= usc[i].subcategory%>/<%=usc[i].id%>';" style="cursor: pointer;">
              <div>
                <h4 class="boardContent uscPostDescription" style="font-size: 15pt; height: 10%;">[<%=usc[i].subcategory.toUpperCase()%>] <%= usc[i].post_title%></h4>
            </div>
        </div>
        <% } %>
        </div>
      </div>
        </div>
        </div>
    </div>
    <% var day = new Date(); %>
    <% day = day.getDate(); %>
    <div class = "Community">
        <div class="content-container box-wrap">
         <p class="tabs">Community</p>
        <div class="board communityBoard box">
            <a href="/course/1" class="miniTabs" style="margin-left: 0; height: fit-content;"><h3 class="boardContent">Courses</h3></a>
            <% for(var i in courses) { %>
                <%var str = toString(courses[i].post_title) %>
                <% if (str.length > 40) {%>
                <% str = str.substring(0,40) + "..."; %>
                <% } %>
                <% if(day-courses[i].createdAt==1||day-courses[i].createdAt==0){ %>
                    <span class="blinkEle">New</span>
                <% } else { %>
                    <span >&nbsp</span>
                <% } %>
                <a href="/read/<%=courses[i].category%>/<%=courses[i].subcategory%>/<%=courses[i].id%>">[<%=courses[i].subcategory.toUpperCase()%>] <%= courses[i].post_title %></a>
          <% } %>
          <a href="/course/1" style="text-align: right;">more..</a>
        </div>
        <div class="board communityBoard box">
            <a class="miniTabs" href="/event/1" style="margin-left: 0; height: fit-content;"> <h3 class="boardContent">Events</h3></a>
            <% for(var i in events) { %>
                <%var str = toString(events[i].post_content); %>
                <% if (str.length > 40) {%>
                <% str = str.substring(0,40) + "..."; %>
                <% } %>
                <% if(day-events[i].createdAt==1||day-events[i].createdAt==0){ %>
                    <span class="blinkEle">New</span>
                <% } else { %>
                    <span >&nbsp</span>
                <% } %><a href="/read/<%=events[i].category%>/<%=events[i].subcategory%>/<%=events[i].id%>">[<%=events[i].subcategory.toUpperCase()%>] <%= events[i].post_title %></a>
          <% } %>
          <a href="/event/1" style="text-align: right;">more..</a>
        </div>
        <div class="board communityBoard box">
            <a class="miniTabs" href="/tutoring/1" style="overflow: visible; margin-left: 0; height: fit-content;"><h3 class="boardContent">Private Tutoring</h3></a>
            <% for(var i in tutoring) { %>
                <%var str = toString(tutoring[i].post_content); %>
                <% if (str.length > 40) {%>
                <% str = str.substring(0,40) + "..."; %>
                <% } %>
                <% if(day-tutoring[i].createdAt==1||day-tutoring[i].createdAt==0){ %>
                    <span class="blinkEle">New</span>
                <% } else { %>
                    <span >&nbsp</span>
                <% } %><a href="/read/<%=tutoring[i].category%>/<%=tutoring[i].subcategory%>/<%=tutoring[i].id%>">[<%=tutoring[i].subcategory.toUpperCase()%>] <%= tutoring[i].post_title %></a>
          <% } %>
          <a href="/tutoring/1" style="text-align: right;">more..</a>
        </div>
        </div>
    </div>
    </section><section class="main">
        <div class = "Clubs">
            <div class="content-container box-wrap">
             <a href="./club"><p class="tabs">Clubs</p></a>
            <% for(var i in club) { %>
                <% var count = 0 %>
                <% if(i < 4) { %>
            <div class="board clubBoard box">
             <a href="/club/<%= club[i].name %>/1"><img class="boardContent clubImage" src="<%=club[i].pic_url%>"></a>
            <a href="/club/<%= club[i].name %>/1"><h3 class="boardContent" style="margin-left: 30px;"><%= club[i].main%></h3></a>
            <h4 class="boardContent" style="margin-left: 30px;"><%= club[i].description%></h4>
            <% for(var j = 0; j < club_post.length && count < 3; j++) { %>
                <% if(club_post[j].subcategory == club[i].name){ %>
             <a href="/read/club/<%=club[i].name%>/<%=club_post[j].id%>"><p class="boardContent clubPostBorder"><%= club_post[j].post_title%></p></a>
             <% count++ %>
             <% } %>
            <% } %>    
            </div>
            <% } %>
            <% } %>
            </div>
        </div>
</section>
<div class = "Petitions">
    <div class="uscHiddenSlide">
    <div class="content-container petitionSlide box-wrap" style="width: 67.3rem;">
     <a href="/petition/1"><p class="tabs">Petitions</p></a>
     <div class="uscSlide" style="transform: translate(0rem);">
    <% var length = petition_post.length %>
      <% for (var i = 0; i < length; i++) { %>
        <% if(petition_post[i].subcategory=='responded') {%>
            <div style="border-top:15px solid rgba(0, 0, 0, 0.25);" class="board box petitionBoard" onclick="location.href='/read/<%= petition_post[i].category %>/<%= petition_post[i].subcategory%>/<%=petition_post[i].id%>';" style="cursor: pointer;">
            <% } else if(petition_post[i].subcategory=='closed'){ %>
            <div style="border-top:15px solid rgba(151, 47, 47, 0.4);" class="board box petitionBoard" onclick="location.href='/read/<%= petition_post[i].category %>/<%= petition_post[i].subcategory%>/<%=petition_post[i].id%>';" style="cursor: pointer;">
            <% } else { %>
            <div class="board box petitionBoard"  onclick="location.href='/read/<%= petition_post[i].category %>/<%= petition_post[i].subcategory%>/<%=petition_post[i].id%>';" style="cursor: pointer;">
          <% } %>
            <div style="width: 100%;">
            <h3 class="boardContent petitionPostDescription" style="font-size: 15pt; height: 40%;"><%= petition_post[i].post_title%></h3>
            <h4 class="boardContent petitionPostDescription petitionContent content" style="height: 40%; font-size: 13pt;"></h4>
            <script>
                var petitionText = "<%= petition_post[i].post_content %>";
                var petitionDom = new DOMParser().parseFromString(petitionText,'text/html');
                var petitionHTML = petitionDom.body.childNodes[0].data;
                petitionHTML = petitionHTML.replaceAll("<br>","");
                document.getElementsByClassName("petitionContent")[parseInt("<%=i%>")].innerHTML = petitionHTML;
            </script>
              <div class="petitionStatus"><img style="vertical-align: top; margin-left:auto; margin-right: 10px;"src="/public/img/Calender.png">2021.05.21 <img style="vertical-align: top;  margin-left: auto;margin-right: 10px;"src="/public/img/Agree.png"><%=petition_post[i].like%> </div>
        </div>  
    </div>
    <% } %>
  </div>
  <div class="slideArrow">
    <span class="iconify leftArrow" data-icon="akar-icons:arrow-left" data-inline="false" style="font-size: 25pt;" onclick="leftSlide()"></span> 
    <span class="iconify rightArrow" data-icon="akar-icons:arrow-right" data-inline="false" style="font-size: 25pt;" onclick="rightSlide()"></span> 
</div>
    </div>
    </div>
</div>
<script>
  
 /*    var usctext1 = "<%= usc[0].post_content %>";
     var usctext2 = "<%= usc[1].post_content %>";
     var usctext3 = "<%= usc[2].post_content %>";
     var usctext4 = "<%= usc[3].post_content %>";
     var usctext5 = "<%= usc[4].post_content %>";

     var dom1 = new DOMParser().parseFromString(usctext1,'text/html');
     var dom2 = new DOMParser().parseFromString(usctext2,'text/html');
     var dom3 = new DOMParser().parseFromString(usctext3,'text/html');
     var dom4 = new DOMParser().parseFromString(usctext4,'text/html');
     var dom5 = new DOMParser().parseFromString(usctext5,'text/html');

    var html1 = dom1.body.childNodes[0].data;
    var html2 = dom2.body.childNodes[0].data;
    var html3 = dom3.body.childNodes[0].data;
    var html4 = dom4.body.childNodes[0].data;
    var html5 = dom5.body.childNodes[0].data;
    
    html1 = html1.replaceAll("<br>","");
    html2 = html2.replaceAll("<br>","");
    html3 = html3.replaceAll("<br>","");
    html4 = html4.replaceAll("<br>","");
    html5 = html5.replaceAll("<br>","");
    

    document.getElementsByClassName("content")[0].innerHTML = html1;
    document.getElementsByClassName("content")[1].innerHTML = html2;
    document.getElementsByClassName("content")[2].innerHTML = html3;
    document.getElementsByClassName("content")[3].innerHTML = html4;
    document.getElementsByClassName("content")[4].innerHTML = html5;

    var rawImg1 = $('img').html('')[3];
    var rawImg2 = $('img').html('')[4];
    var rawImg3 = $('img').html('')[5];
    var rawImg4 = $('img').html('')[6];
    var rawImg5 = $('img').html('')[7];

    rawImg1.style.width= '';
    rawImg2.style.width= '';
    rawImg3.style.width= '';
    rawImg4.style.width= '';
    rawImg5.style.width= '';

    rawImg1.style.height= '';
    rawImg2.style.height= '';
    rawImg3.style.height= '';
    rawImg4.style.height= '';
    rawImg5.style.height= '';

    var img1 = $(rawImg1).map(function(){return this.outerHTML;}).get().join('');
    var img2 = $(rawImg2).map(function(){return this.outerHTML;}).get().join('');
    var img3 = $(rawImg3).map(function(){return this.outerHTML;}).get().join('');
    var img4 = $(rawImg4).map(function(){return this.outerHTML;}).get().join('');
    var img5 = $(rawImg5).map(function(){return this.outerHTML;}).get().join('');


    document.getElementsByClassName('uscPostImage')[0].innerHTML = img1;
    document.getElementsByClassName('uscPostImage')[1].innerHTML = img2;
    document.getElementsByClassName('uscPostImage')[2].innerHTML = img3;
    document.getElementsByClassName('uscPostImage')[3].innerHTML = img4;
    document.getElementsByClassName('uscPostImage')[4].innerHTML = img5;

    rawImg1.remove();
    rawImg2.remove();
    rawImg3.remove();
    rawImg4.remove();
    rawImg5.remove();

    var usctext1 = "<%= usc[0].post_content %>";
    var dom1 = new DOMParser().parseFromString(usctext1,'text/html');
    var html1 = dom1.body.childNodes[0].data;
    html1 = html1.replaceAll("<br>","");
    document.getElementsByClassName("mainAnnouncementContent")[0].innerHTML = html1;*/

    var Interval;
    var uscSlide = this.document.getElementsByClassName("uscSlide")[0];
function autoSlide(){
    var calc = uscSlide.style.transform;
    console.log(calc);
    var maxTransform = (uscSlide.children.length-3) * -22.5;
    calc = calc.replace(/[^-.0-9]/g,'');
        calc = parseFloat(calc)-22.5;
        if(calc >= maxTransform){
        uscSlide.style.transform = 'translate(' + calc + 'rem)';
    }
    else{
        uscSlide.style.transform = 'translate(0rem)';
    }
    Interval=setTimeout(autoSlide, 5000);
}
function stopSlide(){
    clearTimeout(Interval);
}
autoSlide();
this.document.getElementsByClassName("petitionSlide")[0].onmouseenter = function(){stopSlide()};
this.document.getElementsByClassName("petitionSlide")[0].onmouseleave = function(){Interval=setTimeout(autoSlide, 5000)};

function leftSlide(){
    var uscSlide = this.document.getElementsByClassName("uscSlide")[0];
    var calc = (uscSlide.style.transform);
    var maxTransform = (uscSlide.children.length-3) * -22.5;
    calc = calc.replace(/[^-.0-9]/g,'');
        calc = parseFloat(calc)+22.5;  
        if(calc <= 0){
        uscSlide.style.transform = 'translate(' + calc + 'rem)';
        }
}
function rightSlide(){
    var uscSlide = this.document.getElementsByClassName("uscSlide")[0];
    var calc = (uscSlide.style.transform);
    var maxTransform = (uscSlide.children.length-3) * -22.5;
    calc = calc.replace(/[^-.0-9]/g,'');
        calc = parseFloat(calc)-22.5;
        if(calc >= maxTransform){
        uscSlide.style.transform = 'translate(' + calc + 'rem)';
    }
}
setInterval(newToggle, 500);

function newToggle(){
    var toToggle = document.getElementsByClassName('blinkEle');
    for(var i = 0; i < toToggle.length; i++){
        if(toToggle[i].innerHTML=="New"){
            toToggle[i].innerHTML="&nbsp;";
        }
        else{
            toToggle[i].innerHTML="New";
        }
    }
}

// Youtube volume handler
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '1000',
          videoId: 'p5S4kGO-3V8',
          events: {
            'onReady': onPlayerReady
          }
        });
      }
     // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
        event.target.playVideo();
        event.target.setVolume(0);
      }

$(document).on('mouseover', '#player', function() {
  player.setVolume(70);
});
$(document).on('mouseout', '#player', function() {
    player.setVolume(0);
});
</script>
<%- include('footer.ejs') %>